body {
    background-color: rgb(27, 63, 81);
    margin: 0;
    display: flex;
    justify-content: center;
    
    font-family: sans-serif;
}

.body-dark {
    color: #fff;
    background-color: rgb(27, 63, 81);
}

.body-light {
    color: black;
    background-color: rgb(65, 181, 160);
}

.neon {
    text-shadow:
    0 0 7px rgb(105, 88, 218),
    0 0 10px rgb(105, 88, 218),
}

.centered-content {
    height: auto;
    width: 60%;
    height: auto;
    padding: 10px;
}

.centered-content-dark {
    background-color: rgb(34, 77, 98);
}

.centered-content-light {
    background-color: rgb(58, 213, 185);
}

.grid-content {
    grid-template-areas: "image first"
                         "image second"
                         "image third";
    grid-template-columns: 300px 1fr;
    display: grid;
    grid-template-rows: auto auto auto;
}

 .image-content {
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.mode-button-style {
    float: right;
    line-height: 30px;
    width: 70px;
    border-radius: 5px;
    border: none;
    background-color: rgb(43, 95, 120);
    color: white;
}

@media only screen and (max-width: 600px) {
    .centered-content {
        width: 100%;
    }
  }